<!DOCTYPE html>
<html>
    <head>
        <title>Pharmacy management  </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/header.css">
    </head>
    
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""> Pharmacy Management </a>
                </div>
                
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link active" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Logout</a>
                    </li>
                  </ul>
            </div>
        </nav>
