
<%- include("partials/header") %>  
<title>About</title>
<link rel="stylesheet" href="/about.css">

<div class="team-section">
    <h1>About Developers</h1>
    <span class="border"></span>
    <div class="ps">
        <a href="#p1"><img src="/p1.jpg" alt=""></a>
        <a href="#p2"><img src="/p2.jpeg" alt=""></a>

    </div>
    <div class="section" id="p1">
        <span class="name">Niteeshmurthy bhat</span>
        <span class="border"></span>
        <p> Studying Computer science and Engineering at Dr. Ambedkar institute of technology  </p>
        <p>E-Mail : niteeshbhat@gmail.com </p>
    </div>
    <div class="section" id="p2">
        <span class="name">Nagabhushan K M</span>
        <span class="border"></span>
        <p> Studying computer science and Engineering at Dr.Ambedkar institute of technology  </p>
        <p>E-Mail : nagabhushank@gmail.com </p>
    </div>
</div>
<%- include("partials/footer") %>  
