<!DOCTYPE html>
<html>
<head>
<title>Pharma loginpage </title>
    <link rel="stylesheet" type="text/css" href="Nlogin.css">
<body>
    <div class="loginbox">
    <img src="unnamed.png" class="avatar">
          <h1>Login Here</h1> 
          <form action="/login" method="POST">
              <p>Username</p>
              <input type="text" name="email" placeholder="Enter Username" required>
              <p>Password</p>
              <input type="password" name="password" placeholder="Enter Password" required>
              <br>
              <label class="mr-sm-2" for="inlineFormCustomSelect"><b>Position</b></label>
                <select name="position" class="custom-select mr-sm-2" id="inlineFormCustomSelect" >
                  <option selected>select position...</option>
                  <option  value="Manager">Manager</option>
                  <option  value="Pharmacist">Pharmacist</option>
                  <option  value="Cashier">Cashier</option>
                </select>
                <br>
                <br>
              <button type="submit" value="Login">Login</button>
              <!--<a href="#">Forgot Password?</a><br>-->
              <br>
          </form>
            
    </div>


</body>
</head>
</html>